{% extends 'base.html' %}
{% load static %}

{% block title %}
           Head Game
{% endblock title %}

    {% block head %}
    <script
			  src="https://code.jquery.com/jquery-3.4.1.js"
			  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
			  crossorigin="anonymous"></script>
    <script src="{% static 'js/Juegos/head_game/kiwi.js' %}"></script>
    <script src="{% static 'js/Juegos/head_game/headGame.js' %}"></script>
    {% endblock head %}


    {% block content %}
    <div id="conjuego">
        <script>
            globals = {
                'jugador1': "{% static 'js/Juegos/head_game/assets/Player/jugador1.png' %}",
                'background': '{% static 'js/Juegos/head_game/assets/Environment/estadio.jpg' %}',
                'piso': '{% static 'js/Juegos/head_game/assets/Environment/grass.png' %}',
                'arco1': '{% static 'js/Juegos/head_game/assets/Environment/goal_2.png' %}',
                'arco2': '{% static 'js/Juegos/head_game/assets/Environment/goal_1.png' %}',
                'balon': '{% static 'js/Juegos/head_game/assets/Ball/ball1.png' %}',

            }
        </script>

    </div>


        

    {% endblock content %}
