{% extends "base.html" %}

{% block title %}{{ user.username }} {% endblock %}

{% block content %}
    <div id="fondo2">
        <center>
            <h3> <b>Datos usuario</b> </h3>
            <br>

            <table class="table">
          <tbody>
            <tr>
              <th scope="row">Alias:</th>
              <td>{{ user.username }}</td>
            </tr>
            <tr>
              <th scope="row">Nombre:</th>
              <td>{{ user.first_name }}</td>
            </tr>

            <tr>
              <th scope="row">Apellido:</th>
              <td>{{ user.last_name }}</td>

            </tr>
            <tr>
              <th scope="row">Email:</th>
              <td>{{ user.email }}</td>

            </tr>
          </tbody>
        </table>
        </center>
    </div>

{% endblock content %}